<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moulins</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/couleurs.css">
    <link rel="stylesheet" href="/assets/css/polices.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/moulins.css"> 
</head>
<body>
<h1>Animation des moulins</h1>
<div id="animation-container">
    <div class="animation-moulin">
        <img id="moulin-rouge" src="/assets/img/Moulin.svg" alt="Moulin">
    </div>
    <div class="animation-moulin">
        <img id="moulin-bleu" src="/assets/img/moulin-bleu.svg" alt="Moulin">
    </div>
    <div class="animation-moulin">
        <img id="moulin-orange" src="/assets/img/Moulin-orange.svg" alt="Moulin">
    </div>
</div>
</body>
</html>