/******************ok*************/

.first-color {

    background: #f5feff;

}

   

.second-color {

    background: #bde4f4;

}



.third-color {

    background: #404969;

}



.fourth-color {

    background: #dc552c;

}

/********************ok********/

.first-color {

    background: #b590ca;

}

   

.second-color {

    background: #a8d3da;

}



.third-color {

    background: #f5cab3;

}



.fourth-color {

    background: #f3ecb8;

}

/***************************ok*****/

.first-color {

    background: #f68787;

}

   

.second-color {

    background: #f8a978;

}



.third-color {

    background: #f1eb9a;

}



.fourth-color {

    background: #a4f6a5;

}

/********************ok*********************/

.first-color {

    background: #db2d43;

}

   

.second-color {

    background: rgb(135, 229, 218);

}



.third-color {

    background: #c7f2e3;

}



.fourth-color {

    background: rgb(247, 170, 0);

}